<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../log/money-transfer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>moneytransfer-log.%d{dd-MM-yyyy}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 300MB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%t] %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d [%t] %-5p %c{1} - %m%n</Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="file" />
    </root>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>